:root {
  --background-color: #8260a2;
  --card-color: #eeeeee;
  --text-color: #3c383e;
  --fs-label: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
  grid-template-rows: 1fr;

  display: grid;
  place-items: center;
}

.login-card {
  min-width: 30rem;
  min-height: 15rem;
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 2.4rem 4.8rem;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 1.6rem;
}

.login-button {
  border: 1px solid var(--background-color);
  padding: 1rem 3rem;
  font-size: var(--fs-label);
  background-color: white;
  margin: 1rem auto 0;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
}

.form-group label {
  font-size: var(--fs-label);
  letter-spacing: -0.5px;
  width: 8rem;
}

.form-group input {
  font-size: var(--fs-label);
  padding: 0.4rem;
}

.form-error {
  font-size: var(--fs-label);
  color: red;
  margin-bottom: 1rem;
}

.home-content-area {
  width: 80vw;
  height: max-content;
  min-height: 50rem;
  background-color: var(--card-color);
  border-radius: 1rem;
  padding: 2.4rem;
}

.heading {
  padding-bottom: 0.2rem;
}

.heading ~ p {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.territory {
  width: max-content;
  padding: 0.2rem 1.5rem;
  list-style: none;
}

.territory:hover {
  cursor: pointer;
}

.child {
  padding-top: 0.2rem;
}

.caret {
  padding-right: 0.5rem;
}

